alias code='open . -a "Visual Studio Code"'
alias cur='open . -a "Cursor"'
alias als='als | less'
alias t='trash'
alias e='export'
alias kx='kubectl ctx'
alias kns='kubens'
alias kdpi='kubectl describe pods | rg "Image:"'
alias curltime="curl -w \"@$HOME/.curl-format.txt\" -s "

# https://www.felixparadis.com/posts/how-to-set-the-default-browser-from-the-command-line-on-a-mac/
alias dbs='defaultbrowser safari'
alias dbf='defaultbrowser firefox'
alias sf='osascript ~/.scripts/defaultbrowser.scpt safari'
alias ff='osascript ~/.scripts/defaultbrowser.scpt firefox'
alias br='osascript ~/.scripts/defaultbrowser.scpt browser'

# https://unix.stackexchange.com/questions/159253/decoding-url-encoding-percent-encoding
alias urldecode='python3 -c "import sys, urllib.parse as ul; print(ul.unquote_plus(sys.argv[1]))"'
alias urlencode='python3 -c "import sys, urllib.parse as ul; print (ul.quote_plus(sys.argv[1]))"'

# https://prefetch.net/blog/2020/07/14/decoding-json-web-tokens-jwts-from-the-linux-command-line/
jwtd() {
    if [[ -x $(command -v jq) ]]; then
         jq -R 'split(".") | .[0],.[1] | @base64d | fromjson' <<< "${1}"
         echo "Signature: $(echo "${1}" | awk -F'.' '{print $3}')"
    fi
}

# ------------------------------------------------------------------------------
# Kubecost Ops
# ------------------------------------------------------------------------------

klcm() {
  podName=`kubectl get pods -l app=cost-analyzer -o jsonpath='{.items[0].metadata.name}'`
  kubectl logs $podName | less
}

klagg() {
  podName="$(kubectl get pods -l app=aggregator -o jsonpath='{.items[0].metadata.name}')"
  kubectl logs $podName | less
}

kpfprom() {
  podName="$(kubectl get pods -l app=prometheus -o jsonpath='{.items[0].metadata.name}')"
  kubectl port-forward $podName 9080:9090
}

kpfkcm() {
  podName="$(kubectl get pods -l app=cost-analyzer -o jsonpath='{.items[0].metadata.name}')"
  kubectl port-forward $podName 9003:9003
}

kpfagg() {
  svcName="$(kubectl get svc -l app=aggregator -o jsonpath='{.items[0].metadata.name}')"
  kubectl port-forward svc/$svcName 9004:9004
}

keticm() {
  podName=`kubectl get pods -l app=cost-analyzer -o jsonpath='{.items[0].metadata.name}'`
  kubectl exec -it $podName sh
}

ketiagg() {
  podName=`kubectl get pods -l app=aggregator -o jsonpath='{.items[0].metadata.name}'`
  kubectl exec -it $podName sh
}

ketiagglsw () {
  podName="$(kubectl get pods -l app=aggregator -o jsonpath='{.items[0].metadata.name}')"
  KUBECOLOR_FORCE_COLORS=true watch --color kubecolor exec -it "$podName" -c aggregator -- ls -lah /var/configs/waterfowl/duckdb/v0_10_3
}

keticmlsw () {
  podName=`kubectl get pods -l app=cost-analyzer -o jsonpath='{.items[0].metadata.name}'`
  KUBECOLOR_FORCE_COLORS=true watch --color kubecolor exec -it "$podName" -c aggregator -- ls -lah /var/configs/waterfowl/duckdb/v0_10_3
}
